.container-lists {
  margin-top: 12px;
  margin-bottom: 30px;
}

.form-check-input.is-valid~.form-check-label {
  color: $black;
}

.col-form-label {
  font-size: larger;
  font-weight: bolder;
  color: $dark-rose;
  padding-bottom: 8px;
}

a {
  color: $black;

  &:hover {
    color: $rose;
  }
}
// .user_whitelist input:checked+label.form-check-label:before {
//   background: $rose;
//   position: relative;
// }

// .user_whitelist label.form-check-label:before {
//   content: "";
//   height: 20px;
//   width: 16px;
//   background: white;
//   position: absolute;
//   border: 1px solid $rose;
//   left: 0;
//   transform: translateX(-130%);
// }
