<div class="container-story col-12">
  <div class="container-story-to-hide">
    <div class="container-story-infos">
      <div class="title-favorite d-flex justify-content-center">
        <h1> Settings </h1>
      </div>
    </div>
  </div>
</div>
