<div class="d-flex justify-content-center align-items-center sticky-top bg-white">
  <h1 class="page-title">Settings</h1>
</div>
<div class="content">
  <div id="recommended" >
    <%= link_to "Change your email/password", edit_user_registration_path %>
  </div>
</div>
