// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;




$shadow: 0px 10px 20px 0px #655F7333;
$blue: #9AA5F4;
$purple: #8F6EC3;
$light-purple: #F6EFFB;
$black: #404040;
