#forgot-password {
  .p-6rem {
    padding-top: 6rem;
  }

  .form-group > label {
    color: $white;
  }

  .box-blue {
    background-color: $blue;
    border-radius: 20px;
    margin-bottom: 18px;
    // filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $shadow;
    border: 0px;
  }

  .btn {
    a {
      color: $black;
    }
  }
}
