.paragraph {
  font-weight: 200;
}

.ul {
  font-weight: 200;
}

.vibrator_img {
  height: 10vh;
  width: 10vh;
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  margin: auto;
  margin-top: 20px;
}
