<div class="navbar-container col-12 d-flex justify-content-center fixed-bottom">
  <div class="navbar col-10 d-flex justify-content-between">
    <div class="navbar-icon">
      <%= link_to "<i class='fas fa-home' id='home-icone'></i>".html_safe, home_path %>
    </div>
    <div class="navbar-icon">
      <%= link_to "<i class='fas fa-user' id='profile-icone'></i>".html_safe, "#" %>
    </div>
    <div class="navbar-icon">
      <%= link_to "<i class='fas fa-search' id='search-icone'></i>".html_safe, stories_path %>
    </div>
    <div class="navbar-icon">
      <%= link_to "<i class='fas fa-cog' id='settings-icone'></i>".html_safe, "#" %>
    </div>
  </div>
</div>

