<div class="navbar-container col-12 d-flex justify-content-center fixed-bottom">
  <div class="navbar col-12 d-flex justify-content-between">
    <div class="navbar-icon" id="home-icone">
      <%= link_to home_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
    <div class="navbar-icon" id='profile-icone'>
      <%= link_to dashboard_path do %>
        <i class='fas fa-user'></i>
      <% end %>
    </div>
    <div class="navbar-icon" id='search-icone'>
      <%= link_to stories_path do %>
        <i class='fas fa-search'></i>
      <% end %>
    </div>
    <div class="navbar-icon" id='settings-icone'>
      <%= link_to profile_path do %>
        <i class='fas fa-cog'></i>
      <% end %>
    </div>
  </div>
</div>

