<div class="navbar-container col-12 d-flex justify-content-center">
  <div class="navbar col-10 d-flex justify-content-between">
    <div class="navbar-icon">
      <i class="fas fa-home"></i>
    </div>
    <div class="navbar-icon">
      <i class="fas fa-user"></i>
    </div>
    <div class="navbar-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="navbar-icon">
      <i class="fas fa-cog"></i>
    </div>
  </div>
</div>

