<div class="navbar-container col-12 d-flex justify-content-center fixed-bottom">
  <div class="navbar col-10 d-flex justify-content-between">
    <div>
      <i class="fas fa-home navbar-icon" id="home-icone"></i>
    </div>
    <div>
      <i class="fas fa-user navbar-icon" id="profile-icone"></i>
    </div>
    <div>
      <i class="fas fa-search navbar-icon" id="search-icone"></i>
    </div>
    <div>
      <i class="fas fa-cog navbar-icon" id="settings-icone"></i>
    </div>
  </div>
</div>

