<div class="container story-card col-9 d-flex">
  <div class="story-card-row">
    <i class="story-card-icone far fa-bookmark"></i>
    <h1>Main title</h1>
    <h4>By Author</h4>
    <div class="story-card-text">
      <p class="story-card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est nisl, semper ultrices mauris sit amet, semper consectetur ante. Vivamus placerat, risus eget placerat lacinia, nibh neque elementum elit, nec dignissim nisi sem non magna. Suspendisse maximus dui id justo molestie rhoncus.</p>
    </div>
  </div>

  <div class="story-card-row">
    <div class="story-card-infos">
      <div class="d-flex justify-content-between">
        <div class="intensity">
          <i class="intensity-icone fas fa-heart"></i>
          <i class="intensity-icone fas fa-heart"></i>
          <i class="intensity-icone fas fa-heart"></i>
          <i class="intensity-icone far fa-heart"></i>
          <i class="intensity-icone far fa-heart"></i>
        </div>
        <div class="time d-flex">
          <i class="p-1 far fa-clock"></i>
          <p>30min</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="tag">#tag1</div>
        <div class="tag">#tag2</div>
        <div class="tag">#tag3</div>
      </div>
    </div>
  </div>
</div>
