<div class="d-flex justify-content-center align-items-center sticky-top bg-white">
  <h1 class="page-title">Home</h1>
</div>

<div class="content">
  <div id="readings" class="content-row">
    <h2 class="title-carousel">Continue reading</h2>
    <%= render "shared/carousel-story-cards", stories: @stories_current_reading %>
  </div>

  <div id="bookmarks" class="content-row">
    <h2 class="title-carousel">Your bookmarks</h2>
    <%= render "shared/carousel-story-cards", stories: @stories_bookmarked %>
  </div>

  <div class="content-row">
    <h2 class="title-carousel">All stories</h2>
    <%= render "shared/carousel-story-cards", stories: @all_stories.reverse %>
  </div>
</div>

<%= render "shared/navbar" %>

<script type="text/javascript">
  document.querySelectorAll(".slides").forEach ((element) => {
    if (element.childNodes.length > 1) {
      element.parentElement.parentElement.className = "content-row";
    } else {
      element.parentElement.parentElement.className = "content-row d-none";
    }
  });
</script>

<script type="text/javascript">
  document.querySelectorAll(".navbar-icon").forEach ((element) => {
    element.style.opacity = 0.3;
  });
  document.getElementById("home-icone").style.opacity = 1;
</script>

