<div class="container">  
  <h1><%= @story.title %></h1>
  <h4>By <%= @story.author.username %> </h4>
  <div>
    <div class="vibe-on position-sticky">
    </div>
    <p><%= @story.content %></p>
  </div>
</div>
