.btn-vibrary {
  background: $blue;
  border-radius: 50px;
  color: white;
  padding: 0.375rem 1.75rem;
}

.btn-shadowed {
  box-shadow: 0px 10px 20px 0px #655f7333;
}

.btn-pink {
  background-color: $dark-rose;
  color: white;
  padding: 6px 18px;
  margin-left: 16px;
  border-radius: 50px;
}

.btn-ligh-pink {
  background-color: $rose;
  color: white;
  padding: 6px 18px;
  margin-left: 16px;
  border-radius: 50px;
}

.btn-white-outline {
  border-color: $blue;
  border-style: dashed;
  background-color: white;
  color: $blue;;
  border-radius: 50px;
  margin-top: 60px;
  padding: 6px 18px;
  font-weight: 700;
  // font-size: ;
}
