body,
.text-black {
  color: $black;
}


a {
  text-decoration: none;
  &:hover , &:active{
    text-decoration: none;
    color: $blue;
  }
}

.caveat{
  font-family: "Caveat";
  color: $black;
  * {
    color: $black;

  }
}
