.form-group {
  margin-bottom: 0;

}

.form-group label {
  color: $black;
  padding: 8px;
}

.block-input {
  border-radius: 50px;
  box-shadow: $shadow;
}


input.form-control {
  border-color: $dark-rose;
  background-color: $light-blue;
  &:focus {
    background-color: $light-blue;
  }
}

input.search-bar {
  background-color: white;
}
