
.navbar-container {
  position: fixed;
  bottom: 0px;
  height: 80px;
  background-color: white;
  align-items: stretch;
}

.navbar {
  border-top: 0.5mm solid $rose;
  padding-top: 20px;

  .fas {
    font-size: xx-large;
    // color: $rose;
    color: #e276b9;
    margin: 0 auto;
  }
}
