$rose: #edc1dc;

.navbar-container {
  position: fixed;
  bottom: 0px;
  height: 80px;
  background-color: white;
}

.navbar {
  border-top: 0.5mm solid $rose;

  .fas {
    font-size: xx-large;
    color: $rose;
    margin: 0 auto;
  }
}
