.story-card {
  height: 40vh;
  border: 0.5mm solid $rose;
  padding: 0;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(218, 221, 223, 0.4);
  flex-direction: column;
  margin: 0 10px;
}

.story-card-row {
  width: 100%;
  padding: 16px;
  position: relative;

  .story-card-icone {
    position: absolute;
    right: 34px;
    top: 28px;
    font-size: x-large;
  }

  .story-card-text {
    height: 70%;
  }

  h1 {
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    width: 70%;
  }
  h4 {
    font-family: 'Poppins';
    font-size: large;
    margin-bottom: 10px;
  }
  .story-card-p {
    margin-top: 16px;
    font-family: 'Poppins';
    font-weight: lighter;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}


.story-card-row-up {
  height: 60%;
}

.story-card-row-down {
  height: 40%;
}

.story-card-infos {
  height: 80%;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.tag {
  background-color: $rose;
  padding: 2px 8px;
  border-radius: 16px;
  color: white;
}

.intensity-icone {
  color: $rose;
}
