// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/carousel-story-cards";
@import "components/index";
@import "components/navbar";
@import "components/story-card";
@import "pages/index";
@import "pages/test";
@import "profiles/edit";
@import "stories/show";

body {
  background-color: white;
}

.container-global {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.page-title {
  height: 12vh;
  padding-top: 4vh;
  font-family: 'Poppins';
  // font-weight: lighter;
  font-size: xx-large;
  border-bottom: 0.5mm solid $rose;
  margin: 0;
}

.content {
  margin-top: 2vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 72px;
}

.vibrating-zone {
  background-color: $rose;
  opacity: 30%;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 45vh;
  right: 0px;
  z-index: -1;
}

