.container-story {
  padding: 24px 12px;
}



.container-story-up {
  height: 10vh;
  position: sticky;
  top: 0px;
  background-color: white;

  .close-icone {
    font-size: xx-large;
  }

  .rating {
    display: flex;
    justify-content: space-around;
  }

  // .btn-pink {
  //   background-color: $dark-rose;
  //   color: white;
  //   padding: 6px 18px;
  //   margin-left: 16px;
  //   border-radius: 50px;
  // }

  .rating-icone {
    font-size: x-large;
  }
}

.container-story-to-hide {
  background-color: white;
}

.container-story-infos {
  // height: 22vh;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  margin: 12px 0;

  a {
  color:#e276b9;
}

  h1 {
    font-family: 'Poppins';
    // font-weight: lighter;
    font-size: xx-large;
    width: 80%;
    hyphens: auto;
  }

  h4 {
    font-family: 'Poppins';
    // font-weight: lighter;
    font-size: large;
    hyphens: auto;
  }

  .bookmark-icone {
    font-size: xx-large;
    text-align: center;
    color: $dark-rose;
  }
}

.container-story-vibrate {
  height: 6vh;
  display: flex;
  align-items: center;
  border-top: 0.5mm solid #edc1dc;
  border-bottom: 0.5mm solid #edc1dc;
  margin-top: 16px;

  h3 {
    font-family: 'Poppins';
    // font-weight: lighter;
    font-size: medium;
    margin: 0;
    padding-right: 20px;
  }

  .toggle-icone {
    font-size: x-large;
  }
}

.story-text {
  margin-top: 20px;
  font-family: 'Poppins';
  // font-weight: lighter;
  font-size: larger;
  z-index: 2;

  .vibe {
    color: rgb(85, 85, 85);
  }
}

//Toggle slider design
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
}

.sliding {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid #edc1dc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top: 8px;
}

.sliding:before {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 2px solid #edc1dc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .sliding {
  background-color: #edc1dc;
}

.info-text {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  color: $pale-rose;
  margin: 0;
  text-align: center;
  min-width: 30px;
  height: 24px;
}

// .vibrating-zone {
//   background-color: $rose;
//   opacity: 30%;
//   height: 160px;
//   width: 100%;
//   position: sticky;
//   top: 45vh;
//   z-index: -1;
// }

